.bg-color-box {
  background-color: rgba(23, 40, 51, 1);
  height: 70vh;
}
.bg-img-box {
  background: url("./ImageHome.png");
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
