.bg-color-box {
  background: rgba(23, 40, 51, 1);
  height: 70vh;
  color: white;
  color: rgba(23, 40, 51, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-img-box {
  background: url("./photo.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(23, 40, 51, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
  overflow: hidden;
}
.bg-img-box:hover {
  transform: scale(1.05);
  transition: all 1s ease-in-out;
}
.part-one-head {
  font-family: "Raleway";
  /* font-style: normal; */
  font-weight: 700;
  font-size: 3.75rem;
  color: white;
  word-wrap: break-word;
  padding-top: 80px;
}
.part-two-sub {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
}
