.part-two-text {
  padding-top: 100px;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  /* font-weight: bold; */
  padding: 5%;
  font-family: "Raleway";
  text-align: right;
}
.part-two-bg-img {
  width: 100%;
}
.part-two-bg-img {
  transition: all 1s ease-in-out;
}
.part-two-bg-img:hover {
  transition: all 1s ease-in-out;
  transform: scale(1.1);
}
