.part-three-bg {
  background-color: #172833;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;
}
.part-three-text-main{
  display: flex;
  justify-content: center;
}