.part-four-bg {
  padding: 70px;
 background-color: white;
}

.rect-sm-container {
  background: #172833;
  color: white;
  padding: 0 25px;
  margin: 5px;
  height: 55px;
  line-height: 18px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}
