.part-four-bg {
  padding: 10px;
  display: block;
  align-items: center;
  justify-items: center;
  background-color: white;
  height: auto;
}

.rect-sm-container {
  background: #172833;
  color: white;
  align-self: center;
  width: fit-content;
  display: inline-block;
  padding: 0 25px;
  margin: 5px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 10px;
}
